force-app/main/default/flows/Opportunity_ManagePayments_ScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Payment_Amount_to_Sum</name>
        <label>Add Payment Amount to Sum</label>
        <locationX>2379</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>sumPaymentAmounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Refreshed_Payments.npe01__Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Refreshed_Payments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Amount</name>
        <label>Set Amount</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>paymentToUpdate.npe01__Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_UnpaidPaymentAmount_Currency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment_to_Paid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Create_Payment_Flag</name>
        <label>Set Create Payment Flag</label>
        <locationX>2642</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>createPayment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Default_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_New_Payment_Values</name>
        <label>Set Default New Payment Values</label>
        <locationX>798</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>paymentToInsert.npe01__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentToInsert.npe01__Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Payment_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Payment_Values</name>
        <label>Set Default Payment Values</label>
        <locationX>2162</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>stockPayment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Payment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Unpaid_Payment_Values</name>
        <label>Set Default Unpaid Payment Values</label>
        <locationX>138</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>paymentToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Unpaid_Payment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Unpaid_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Values</name>
        <label>Set Default Values</label>
        <locationX>2642</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>stockPayment.npe01__Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stockPayment.Broker_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stockPayment.Price_Per_Share__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stockPayment.Stock_Sale_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stockPayment.npe01__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Payment_Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_of_WriteOffs_Selected</name>
        <label>Set Number of WriteOffs Selected</label>
        <locationX>3786</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>numSelectedWriteOffs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>lstPaymentsToWriteOff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WriteOff_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Paid_Checkbox</name>
        <label>Set Paid Checkbox</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>paymentToUpdate.npe01__Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Payment_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Method</name>
        <label>Set Payment Method</label>
        <locationX>2358</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>stockPayment.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stock</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stock_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_User_Input</name>
        <label>Set Payment User Input</label>
        <locationX>2358</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>stockPayment.Broker_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_BrokerFee_Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stockPayment.Price_Per_Share__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_PricePerShare_Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stockPayment.Stock_Sale_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numFmlStockSaleAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stockPayment.npe01__Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_PaymentAmount_Currency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Create_or_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Counts</name>
        <label>Set Record Counts</label>
        <locationX>2379</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>numEligibleStockPayments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Eligible_Stock_Payments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numUnpaidPayments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Unpaid_Payments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Action_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Payment_Id</name>
        <label>Set Selected Payment Id</label>
        <locationX>2514</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>selectedPaymentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Single_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Single_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Payment_Id_0</name>
        <label>Set Selected Payment Id</label>
        <locationX>2074</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>selectedPaymentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_SelectedStockPayment_Radio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_to_Selected_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Closed_Lost</name>
        <label>Set Stage to Closed Lost</label>
        <locationX>3258</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>Get_Refreshed_Opportunity_after_WriteOff.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Closed_Lost_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Input_for_New_Payment</name>
        <label>Set User Input for New Payment</label>
        <locationX>798</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>paymentToInsert.npe01__Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_PaymentAmountNewPayment_Currency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_New_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Write_Off_Payment</name>
        <label>Write Off Payment</label>
        <locationX>3942</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Unpaid_Payment_for_WriteOff.npe01__Written_Off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstPaymentsToWriteOff</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Unpaid_Payment_for_WriteOff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Unpaid_Payment_for_WriteOff</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Write_Off_Payment_0</name>
        <label>Write Off Payment</label>
        <locationX>3590</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Payments_for_Selected_WriteOffs.npe01__Written_Off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstPaymentsToWriteOff</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Payments_for_Selected_WriteOffs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Payments_for_Selected_WriteOffs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceActionRecordPayment</name>
        <choiceText>Record a payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RecordPayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceActionStock</name>
        <choiceText>Enter the details of a stock gift</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stock</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceActionWriteOff</name>
        <choiceText>Write off a payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WriteOff</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Eligible_Stock_Payments</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Eligible Stock Payments</label>
        <locationX>2379</locationX>
        <locationY>518</locationY>
        <assignNextValueToReference>currentItem_Filter_Eligible_Stock_Payments</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opp_Payments</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Eligible_Stock_Payments.npe01__Written_Off__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Record_Counts</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_Selected_Payment</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Selected Payment</label>
        <locationX>2074</locationX>
        <locationY>1454</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Selected_Payment</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opp_Payments</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Selected_Payment.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>selectedPaymentId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Selected_Payment</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_Selected_Unpaid_Payment</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Selected Unpaid Payment</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Selected_Unpaid_Payment</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Filter_Unpaid_Payments</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Selected_Unpaid_Payment.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Input_SelectedUnpaidPayment_Radio</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Selected_Unpaid_Payment</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Unpaid_Payments</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Unpaid Payments</label>
        <locationX>2379</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>currentItem_Filter_Unpaid_Payments</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opp_Payments</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Unpaid_Payments.npe01__Paid__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Unpaid_Payments.npe01__Written_Off__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Eligible_Stock_Payments</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Action_Type</name>
        <label>Check Action Type</label>
        <locationX>2511</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Error_Action_Not_Recognized_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Action Not Recognized</defaultConnectorLabel>
        <rules>
            <name>Action_is_RecordPayment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Action_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceActionRecordPayment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Filter_Unpaid_Payments</targetReference>
            </connector>
            <label>Action is RecordPayment</label>
        </rules>
        <rules>
            <name>Action_is_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Action_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceActionStock</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Get_Opp_Payments</targetReference>
            </connector>
            <label>Action is Stock</label>
        </rules>
        <rules>
            <name>Action_is_WriteOff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Action_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceActionWriteOff</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Unpaid_Payments</targetReference>
            </connector>
            <label>Action is WriteOff</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Create_or_Update</name>
        <label>Check Create or Update</label>
        <locationX>2358</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Create_Stock_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Payment</defaultConnectorLabel>
        <rules>
            <name>Update_Existing_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createPayment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stock_Payment</targetReference>
            </connector>
            <label>Update Existing Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Filter_Unpaid_Payments</name>
        <label>Check Filter Unpaid Payments</label>
        <locationX>424</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Set_Default_New_Payment_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Unpaid_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numUnpaidPayments</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Payment_Screen_RecordPayment</targetReference>
            </connector>
            <label>Has Unpaid Payments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Change_in_Opportunity_Amount</name>
        <label>Check for Change in Opportunity Amount</label>
        <locationX>2291</locationX>
        <locationY>4118</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amount_has_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Amount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>sumPaymentAmounts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Amount</targetReference>
            </connector>
            <label>Amount has Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Selected</name>
        <label>Check for Selected</label>
        <locationX>3722</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Payments_for_Selected_WriteOffs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_SelectedWriteOffPayments_ChBxGp</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_Payments_for_Selected_WriteOffs.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Write_Off_Payment_0</targetReference>
            </connector>
            <label>Is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Unpaid_Payments</name>
        <label>Check for Unpaid Payments</label>
        <locationX>3786</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Error_No_Unpaid_Payments_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unpaid Payments Not Found</defaultConnectorLabel>
        <rules>
            <name>Has_Multiple_Unpaid_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numUnpaidPayments</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Payment_Screen_0</targetReference>
            </connector>
            <label>Has Multiple Unpaid Payments</label>
        </rules>
        <rules>
            <name>Has_Single_Unpaid_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numUnpaidPayments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Unpaid_Payment_for_WriteOff</targetReference>
            </connector>
            <label>Has Single Unpaid Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Opp_Allocations</name>
        <label>Check Get Opp Allocations</label>
        <locationX>798</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_with_New_Payment_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opp Allocations Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Opp_Allocations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Allocations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Refreshed_Payments</targetReference>
            </connector>
            <label>Got Opp Allocations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Opp_Payments</name>
        <label>Check Get Opp Payments</label>
        <locationX>2358</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Set_Create_Payment_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Eligible Payments Found</defaultConnectorLabel>
        <rules>
            <name>Got_Opp_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numEligibleStockPayments</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Payment_Screen</targetReference>
            </connector>
            <label>Got Multiple Opp Payments</label>
        </rules>
        <rules>
            <name>Got_Single_Eligible_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numEligibleStockPayments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Single_Record</targetReference>
            </connector>
            <label>Got Single Eligible Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Opp_Payments_1</name>
        <label>Check Get Opp Payments</label>
        <locationX>2511</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Select_Action_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opp Payments Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Opp_Payments_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Payments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Unpaid_Payments</targetReference>
            </connector>
            <label>Got Opp Payments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Refreshed_Allocations</name>
        <label>Check Get Refreshed Allocations</label>
        <locationX>1018</locationX>
        <locationY>2294</locationY>
        <defaultConnector>
            <targetReference>Get_Refreshed_Payments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Refreshed Allocations Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Refreshed_Allocations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Refreshed_Allocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Allocated_GAU</targetReference>
            </connector>
            <label>Got Refreshed Allocations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Refreshed_Opp_After_WriteOff</name>
        <label>Check Get Refreshed Opp After WriteOff</label>
        <locationX>3786</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Refreshed Opp After WriteOff Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Refreshed_Opp_After_WriteOff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Refreshed_Opportunity_after_WriteOff</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Full_Amount_is_Written_Off</targetReference>
            </connector>
            <label>Got Refreshed Opp After WriteOff</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Refreshed_Payments</name>
        <label>Check Get Refreshed Payments</label>
        <locationX>2511</locationX>
        <locationY>3662</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Refreshed Payments Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Refreshed_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Refreshed_Payments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Refreshed_Payments</targetReference>
            </connector>
            <label>Got Refreshed Payments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Full_Amount_is_Written_Off</name>
        <label>Check if Full Amount is Written Off</label>
        <locationX>3522</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Full_Amount_is_Written_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Refreshed_Opportunity_after_WriteOff.npe01__Amount_Written_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Refreshed_Opportunity_after_WriteOff.Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_to_Closed_Lost</targetReference>
            </connector>
            <label>Full Amount is Written Off</label>
        </rules>
    </decisions>
    <description>Record payments, stock information, and write-offs</description>
    <dynamicChoiceSets>
        <name>collChoiceOppPayments</name>
        <collectionReference>Get_Opp_Payments</collectionReference>
        <dataType>String</dataType>
        <displayField>Display_Name__c</displayField>
        <object>npe01__OppPayment__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>collChoiceUnpaidPayments</name>
        <collectionReference>Filter_Unpaid_Payments</collectionReference>
        <dataType>String</dataType>
        <displayField>Display_Name__c</displayField>
        <object>npe01__OppPayment__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceOppPayments</name>
        <dataType>String</dataType>
        <displayField>Display_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__Written_Off__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>200</limit>
        <object>npe01__OppPayment__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>numFmlStockSaleAmount</name>
        <dataType>Number</dataType>
        <expression>{!stockPayment.Price_Per_Share__c} * {!stockPayment.Number_of_Shares__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity ManagePayments ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity ManagePayments ScreenFlow</label>
    <loops>
        <name>Loop_through_Payments_for_Selected_WriteOffs</name>
        <label>Loop through Payments for Selected WriteOffs</label>
        <locationX>3502</locationX>
        <locationY>1334</locationY>
        <collectionReference>Filter_Unpaid_Payments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Number_of_WriteOffs_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Refreshed_Payments</name>
        <label>Loop through Refreshed Payments</label>
        <locationX>2291</locationX>
        <locationY>3782</locationY>
        <collectionReference>Get_Refreshed_Payments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Payment_Amount_to_Sum</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Change_in_Opportunity_Amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Selected_Payment</name>
        <label>Loop through Selected Payment</label>
        <locationX>2074</locationX>
        <locationY>1574</locationY>
        <collectionReference>Filter_to_Selected_Payment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Default_Payment_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Payment_Method</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Selected_Unpaid_Payment</name>
        <label>Loop through Selected Unpaid Payment</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <collectionReference>Filter_to_Selected_Unpaid_Payment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Default_Unpaid_Payment_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Paid_Checkbox</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Single_Record</name>
        <label>Loop through Single Record</label>
        <locationX>2426</locationX>
        <locationY>1214</locationY>
        <collectionReference>Filter_Eligible_Stock_Payments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Selected_Payment_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Filter_to_Selected_Payment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Unpaid_Payment_for_WriteOff</name>
        <label>Loop through Unpaid Payment for WriteOff</label>
        <locationX>3854</locationX>
        <locationY>1214</locationY>
        <collectionReference>Filter_Unpaid_Payments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Write_Off_Payment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Number_of_WriteOffs_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Stock_Payment</name>
        <label>Create Stock Payment</label>
        <locationX>2622</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Get_Refreshed_Payments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Inserting_Stock_Payment_Screen</targetReference>
        </faultConnector>
        <inputReference>stockPayment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_New_Payment</name>
        <label>Insert New Payment</label>
        <locationX>798</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Get_Opp_Allocations</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Inserting_New_Payment_Screen</targetReference>
        </faultConnector>
        <inputReference>paymentToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp_Allocations</name>
        <label>Get Opp Allocations</label>
        <locationX>798</locationX>
        <locationY>1694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Opp_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npsp__Allocation__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Payments</name>
        <label>Get Opp Payments</label>
        <locationX>2511</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Opp_Payments_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Refreshed_Allocation</name>
        <label>Get Refreshed Allocation</label>
        <locationX>1018</locationX>
        <locationY>2174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Refreshed_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npsp__Allocation__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Refreshed_Opportunity_after_WriteOff</name>
        <label>Get Refreshed Opportunity after WriteOff</label>
        <locationX>3786</locationX>
        <locationY>2342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Refreshed_Opp_After_WriteOff</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Refreshed_Payments</name>
        <label>Get Refreshed Payments</label>
        <locationX>2511</locationX>
        <locationY>3542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Refreshed_Payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Allocated_GAU</name>
        <label>Update Allocated GAU</label>
        <locationX>754</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Get_Refreshed_Payments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Allocation_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Refreshed_Allocation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npsp__General_Accounting_Unit__c</field>
            <value>
                <elementReference>Input_GAU_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>npsp__Allocation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Closed_Lost_Opportunity</name>
        <label>Update Closed Lost Opportunity</label>
        <locationX>3258</locationX>
        <locationY>2822</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Closed_Lost_Opportunity_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Refreshed_Opportunity_after_WriteOff</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Amount</name>
        <label>Update Opportunity Amount</label>
        <locationX>2027</locationX>
        <locationY>4238</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Opportunity_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>sumPaymentAmounts</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_with_New_Payment_Amount</name>
        <label>Update Opportunity with New Payment Amount</label>
        <locationX>1018</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>Select_GAU_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Opportunity_for_New_Alloc_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Input_PaymentAmountNewPayment_Currency</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_to_Paid</name>
        <label>Update Payment to Paid</label>
        <locationX>50</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Get_Refreshed_Payments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Unpaid_Payment_Screen</targetReference>
        </faultConnector>
        <inputReference>paymentToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payments_to_Write_Off</name>
        <label>Update Payments to Write Off</label>
        <locationX>3786</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Get_Refreshed_Opportunity_after_WriteOff</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Payment_to_WriteOff_Screen</targetReference>
        </faultConnector>
        <inputReference>WriteOff_Review_Datatable.outputSelectedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stock_Payment</name>
        <label>Update Stock Payment</label>
        <locationX>2094</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Get_Refreshed_Payments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Stock_Payment_Screen</targetReference>
        </faultConnector>
        <inputReference>stockPayment</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>2511</locationX>
        <locationY>4814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Screen_Msg</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Success!&lt;/strong&gt; The opportunity was updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Action_Not_Recognized_Screen</name>
        <label>Error Action Not Recognized Screen</label>
        <locationX>4598</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Action_Not_Recognized_Screen_Msg</name>
            <fieldText>&lt;p&gt;Hmm... something went wrong.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The action you selected is not valid. Click &lt;strong&gt;Previous&lt;/strong&gt; to go back and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Inserting_New_Payment_Screen</name>
        <label>Error Inserting New Payment Screen</label>
        <locationX>1722</locationX>
        <locationY>1694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Inserting_New_Payment_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!ttDefaultErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Inserting_Stock_Payment_Screen</name>
        <label>Error Inserting Stock Payment Screen</label>
        <locationX>2886</locationX>
        <locationY>2606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Inserting_Stock_Payment_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!ttDefaultErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_No_Unpaid_Payments_Screen</name>
        <label>Error No Unpaid Payments Screen</label>
        <locationX>4070</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_No_Unpaid_Payments_Screen_Msg</name>
            <fieldText>&lt;p&gt;There are no unpaid payments associated with this opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Updating_Allocation_Screen</name>
        <label>Error Updating Allocation Screen</label>
        <locationX>1018</locationX>
        <locationY>2534</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Updating_Allocation_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!ttDefaultErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Updating_Closed_Lost_Opportunity_Screen</name>
        <label>Error Updating Closed Lost Opportunity Screen</label>
        <locationX>3522</locationX>
        <locationY>2942</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Updating_Closed_Lost_Opportunity_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!ttDefaultErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Updating_Opportunity_for_New_Alloc_Screen</name>
        <label>Error Updating Opportunity for New Alloc Screen</label>
        <locationX>1458</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Updating_Opportunity_for_New_Alloc_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!ttDefaultErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Updating_Opportunity_Screen</name>
        <label>Error Updating Opportunity Screen</label>
        <locationX>2291</locationX>
        <locationY>4358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Updating_Opportunity_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!ttDefaultErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Updating_Payment_to_WriteOff_Screen</name>
        <label>Error Updating Payment to WriteOff Screen</label>
        <locationX>4334</locationX>
        <locationY>2342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Updating_Payment_to_WriteOff_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!ttDefaultErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Updating_Stock_Payment_Screen</name>
        <label>Error Updating Stock Payment Screen</label>
        <locationX>2358</locationX>
        <locationY>2606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Updating_Stock_Payment_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!ttDefaultErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Updating_Unpaid_Payment_Screen</name>
        <label>Error Updating Unpaid Payment Screen</label>
        <locationX>314</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Updating_Unpaid_Payment_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!ttDefaultErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Payment_Screen</name>
        <label>New Payment Screen</label>
        <locationX>798</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_User_Input_for_New_Payment</targetReference>
        </connector>
        <fields>
            <name>New_Payment_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Payment_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>paymentToInsert.npe01__Scheduled_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>paymentToInsert.npe01__Payment_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Input_PaymentAmountNewPayment_Currency</name>
                    <dataType>Currency</dataType>
                    <fieldText>Payment Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Payment_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>paymentToInsert.npe01__Payment_Method__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>paymentToInsert.npe01__Paid__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_Payment_Details_Screen</name>
        <label>Record Payment Details Screen</label>
        <locationX>50</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Amount</targetReference>
        </connector>
        <fields>
            <name>Record_Payment_Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Record_Payment_Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>paymentToUpdate.npe01__Scheduled_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>paymentToUpdate.npe01__Payment_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Input_UnpaidPaymentAmount_Currency</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>paymentToUpdate.npe01__Payment_Amount__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Payment_Details_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>paymentToUpdate.npe01__Payment_Method__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>paymentToUpdate.npe01__Paid__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Action_Screen</name>
        <label>Select Action Screen</label>
        <locationX>2511</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Action_Type</targetReference>
        </connector>
        <fields>
            <name>Input_Action_Radio</name>
            <choiceReferences>choiceActionRecordPayment</choiceReferences>
            <choiceReferences>choiceActionStock</choiceReferences>
            <choiceReferences>choiceActionWriteOff</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_GAU_Screen</name>
        <label>Select GAU Screen</label>
        <locationX>1018</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Refreshed_Allocation</targetReference>
        </connector>
        <fields>
            <name>Select_GAU_Screen_Msg</name>
            <fieldText>&lt;p&gt;There are no allocations associated with this opportunity. Please specify where the revenue will be recognized.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_GAU_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_GAU_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_GAU_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_GAU_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>npsp__General_Accounting_Unit__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>General Accounting Unit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>npsp__Allocation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_GAU_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Payment_Screen</name>
        <label>Select Payment Screen</label>
        <locationX>2074</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Selected_Payment_Id_0</targetReference>
        </connector>
        <fields>
            <name>Input_SelectedStockPayment_Radio</name>
            <choiceReferences>collChoiceOppPayments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select payment to update</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Payment_Screen_0</name>
        <label>Select Payment Screen</label>
        <locationX>3502</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_through_Payments_for_Selected_WriteOffs</targetReference>
        </connector>
        <fields>
            <name>Input_SelectedWriteOffPayments_ChBxGp</name>
            <choiceReferences>collChoiceUnpaidPayments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select payments to write off</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Payment_Screen_RecordPayment</name>
        <label>Select Payment Screen</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Filter_to_Selected_Unpaid_Payment</targetReference>
        </connector>
        <fields>
            <name>Input_SelectedUnpaidPayment_Radio</name>
            <choiceReferences>collChoiceUnpaidPayments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select payment to update</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stock_Details_Screen</name>
        <label>Stock Details Screen</label>
        <locationX>2358</locationX>
        <locationY>2126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Payment_User_Input</targetReference>
        </connector>
        <fields>
            <name>Payment_Information_Header</name>
            <fieldText>Payment Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Payment_Information_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_PaymentAmount_Currency</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>stockPayment.npe01__Payment_Amount__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>stockPayment.npe01__Payment_Method__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Payment_Information_Header_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>stockPayment.npe01__Paid__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>stockPayment.npe01__Payment_Date__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>stockPayment.npe01__Paid__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Stock_Information_Header</name>
            <fieldText>Stock Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stock_Information_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>stockPayment.Stock_Symbol__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>stockPayment.Number_of_Shares__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Input_PricePerShare_Currency</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>stockPayment.Price_Per_Share__c</elementReference>
                    </defaultValue>
                    <fieldText>Price Per Share</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Stock_Information_Header_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>stockPayment.Stock_Sale_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Input_BrokerFee_Currency</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>stockPayment.Broker_Fee__c</elementReference>
                    </defaultValue>
                    <fieldText>Broker Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WriteOff_Details_Screen</name>
        <label>WriteOff Details Screen</label>
        <locationX>3786</locationX>
        <locationY>2102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Payments_to_Write_Off</targetReference>
        </connector>
        <fields>
            <name>WriteOff_Details_Screen_Msg</name>
            <fieldText>&lt;p&gt;Are you sure you want to write off this payment?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>numSelectedWriteOffs</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WriteOff_Details_Screen_Msg_Plural</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Are you sure you want to write off these payments?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>numSelectedWriteOffs</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WriteOff_Review_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>npe01__OppPayment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>npe01__OppPayment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>lstPaymentsToWriteOff</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>lstPaymentsToWriteOff</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,npe01__Scheduled_Date__c,npe01__Payment_Method__c,npe01__Payment_Amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:190, npe01__Scheduled_Date__c:315, npe01__Payment_Method__c:263, npe01__Payment_Amount__c:210</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Payments to Write Off</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:cancel_checkout</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2385</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Payments</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ttDefaultErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hmm... something went wrong. Please pass along this error to your system administrator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error: &lt;span style=&quot;color: rgb(205, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>allocationToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>createPayment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Eligible_Stock_Payments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Selected_WriteOff_Payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_Selected_Payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_Selected_Unpaid_Payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Unpaid_Payments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>lstPaymentsToWriteOff</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>numEligibleStockPayments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numSelectedWriteOffs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numUnpaidPayments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>paymentToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>paymentToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>selectedPaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stockPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>sumPaymentAmounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
